@import '/static/public/styles/1.0.0/variables.css';

.no-gutter #marketShareDivision {
  margin-right: 0;
  margin-left: 0;
}

.no-gutter #marketShareDivision > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
